<!DOCTYPE html>
<html lang="pt-br" translate="yes">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="/assets/favicon.png" />

    <%- include('components/styles'); %> <%- include('components/fonts'); %>

    <link rel="stylesheet" href="/styles/pages/404.css" />

    <title>404 | Falha de navegação</title>
  </head>
  <body id="page-404">
    <%- include('components/page-header', { title: 'Página não encontrada' });
    %>

    <main class="main animate-up delay-2">
      <div class="wrapper">
        <h1 class="animate-up">404</h1>
        <h2 class="animate-up">Falha de navegação</h2>

        <span class="animate-up">Ooops, página não encontrada</span>

        <span class="animate-up">
          A página que você procura pode ter sido removida.
        </span>
        <a class="button orange animate-pop" href="/">Voltar ao início</a>
      </div>
    </main>
  </body>
</html>
