<header class="page-header inner">
  <div class="container animate-up">
    <a href="/" class="Back to homepage">
      <img src="/assets/back.svg" alt="Back icon" />
    </a>

    <h1><%= title %></h1>
  </div>
</header>
